@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,pre,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea,figure,figcaption,nav,footer,menu{margin:0;padding:0}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
address,em,i,b{font-style:normal}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
a{color:#222;text-decoration:none}
a:-webkit-any-link{cursor:auto}
a:hover{color:#73a83d;text-decoration:none}
ul,ol,li{list-style:none}
fieldset,img{border:0}
button,input,select,textarea{outline:none}

body{background-color:rgb(246,246,246);font-family: Arial, Helvetica, sans-serif, 宋体,Microsoft YaHei;font-size:12px;color:#222;}
.fl{float:left}
.fr{float:right}



.cf:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}
.clean{ clear:both;}


/*font
@font-face {font-family:yahei;src: url('msyh.ttf');} */

/**/
div.line {margin:0 auto;width:96% !important;text-align: center;position:relative;}
div.line span {font-size:1.5em !important; color:#fff; height:40px; line-height:40px;display:block; text-align:center; overflow:hidden; z-index:0; line-height:42px; text-align:center; position:relative; font-family:Microsoft YaHei; font-weight:normal;}
span.lin:before, span.lin:after {border-top: 1px solid #fff; display:block; height:1px; content:" "; width:35%;  position:absolute;  left:0;  top:55%; }
span.lin:after {right:0;left:auto;}


/**/
.header_app{position:fixed;left:0;top:0;width:100%;display:box;display:-webkit-box;display:-moz-box;height:45px;background:#73a83d;z-index:50}
.hd-back{display:block;width:40px;height:45px;text-align:center;cursor:pointer}
.hd-back:after{content:'';display:inline-block;border:#fff solid;border-width:0 0 2px 2px;width:12px;height:12px;margin-top:14px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-background-clip:padding-box}
.hd-tit{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;display:block;color:#fff;font-size:1.2em;line-height:45px;text-align:center;font-family:Microsoft YaHei;}
.hd_type{width:30px;height:45px;display:block;background:url(../images/user_a.png) left center no-repeat;-webkit-background-size:30px auto;cursor:pointer;margin-right:13px}

/**/
.menu{ padding-top:45px; position:relative; width:100%; height:55px; }
.menu ul li{ height:40px; line-height:40px; width:50%; float:left;background:#FFF; border-bottom:1px solid #c3c3c3;}
.menu ul li span{ position:relative; display:block; width:60%; margin:0 auto;  text-align:center; height:38px !important;font-family:Microsoft YaHei; font-size:1.2em;}
.menu ul li a.on { border-bottom:3px solid #73a83d; display:block; display:block; width:60%; margin:0 auto;color: #73a83d;}

/*resta*/
.resta{ margin:0 auto; width:95%;}


.resta ul{margin:0 auto 10px auto; width:100%; background:#fff;border-radius:3px;
-moz-border-radius: 3px; border:1px solid #c5c5c5;
-ms-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
}


.resta ul h2{height:35px; line-height:35px; position:relative; border-bottom:1px solid #c5c5c5;display: block; padding:0 0px 0 10px ; color:#3d3d3d;}
.resta ul h2 em{width:90%; font-family:Microsoft YaHei; position:relative;height:35px; 
font-size: 1.2em; display:block; float:left;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;}

.resta ul h2 span{ float:right;width:20px;height:35px; display:block;background:url(../images/n_rg.png) left center no-repeat;-webkit-background-size:25px auto;cursor:pointer; background-size:60%;}
.resta ul li{ margin:5px 10px;line-height:1.5em; color:#b0b0b0; font-family:Microsoft YaHei;  }

/**/
.rbox{ margin:0 auto; width:95%;}
.rbox ul{margin:0 auto;  width:100%;}
.rbox ul li{background:#fff;border-radius:3px; width:48%; float:left; margin-bottom:10px;
-moz-border-radius: 3px; border:1px solid #c5c5c5;
-ms-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;}
.rbox ul li span{display:block; position:relative;}
.rbox ul li span img{ width:100%; position:relative;}
.rbox ul li em{ display:block; font-family:Microsoft YaHei; font-size:1.2em; padding-left:0.7em; line-height:2em; height:2em; overflow: hidden; padding-right:0.2em}
.rbox ul li i{ display:block; color:#fcac22; font-family:Microsoft YaHei; font-size:1.2em;  padding-left:0.7em; line-height:2em;}


.a{float:right !important;}




/**/
.page{margin:0 auto 10px auto; width:95%; background:#f8f8f8;border-radius:5px;
-moz-border-radius: 5px; border:1px solid #c5c5c5;
-ms-border-radius: 5px;
-webkit-border-radius: 5px; text-align:center; height:30px; line-height:30px;
-o-border-radius: 5px;
}




/**/
.foot{width:100%; position:relative; text-align:center; font-family:Microsoft YaHei; font-size:1.2em; padding:0.7em 0; overflow:hidden; color:rgb(164,164,164);}