@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,pre,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea,figure,figcaption,nav,footer,menu{margin:0;padding:0}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
address,em,i,b{font-style:normal}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
a{color:#fff;text-decoration:none}
a:-webkit-any-link{cursor:auto}
a:hover{color:#fff;text-decoration:none}
ul,ol,li{list-style:none}
fieldset,img{border:0}
button,input,select,textarea{outline:none}

body{background-color:rgb(207,131,58);font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, 宋体;font-size:12px;color:#222;}
.fl{float:left}
.fr{float:right}



.cf:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}
.clean{ clear:both;}


/*font
@font-face {font-family:yahei;src: url('msyh.ttf');} */

/**/
div.line {margin:0 auto;width:96% !important;text-align: center;position:relative;}
div.line span {font-size:1.5em !important; color:#fff; height:40px; line-height:40px;display:block; text-align:center; overflow:hidden; z-index:0; line-height:42px; text-align:center; position:relative; font-family:Microsoft YaHei; font-weight:normal;}
span.lin:before, span.lin:after {border-top: 1px solid #fff; display:block; height:1px; content:" "; width:35%;  position:absolute;  left:0;  top:55%; }
span.lin:after {right:0;left:auto;}


/**/
.header_app{position:fixed;left:0;top:0;width:100%;display:box;display:-webkit-box;display:-moz-box;height:45px;background:#fff;z-index:50}
.hd-back{display:block;width:40px;height:45px;text-align:center;cursor:pointer}
.hd-back:after{content:'';display:inline-block;border:#646464 solid;border-width:0 0 2px 2px;width:12px;height:12px;margin-top:14px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-background-clip:padding-box}
.hd-tit{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;display:block;color:#646464;font-size:1.2em;line-height:45px;text-align:center;font-family:Microsoft YaHei;}
.hd_type{width:30px;height:45px;display:block;background:url(../images/user_b.png) left center no-repeat;-webkit-background-size:30px auto;cursor:pointer;margin-right:13px}

.hd_new{width:30px;height:30px;display:block;background:url(../images/new.png) left center no-repeat;-webkit-background-size:30px auto;cursor:pointer;margin-right:13px}



/**/
.menu{ padding-top:45px; position:relative; width:100%; height:55px; }
.menu ul li{ height:40px; line-height:40px; width:50%; float:left;background:#FFF; border-bottom:1px solid #c3c3c3;}
.menu ul li span{ position:relative; display:block; width:60%; margin:0 auto;  text-align:center; height:38px !important;font-family:Microsoft YaHei; font-size:1.2em;}
.menu ul li a.on { border-bottom:3px solid #73a83d; display:block; display:block; width:60%; margin:0 auto;color: #73a83d;}


/*box*/
.member{ background:url(../images/loginbg.png) no-repeat top center; background-size:100% 100%; margin-top:40px; height:100%;  }
.mlogo{ width:70%; margin:0 auto; position:relative;}
.mlogo img{ width:100%; position:relative; margin:25% auto 10% auto;}

.login{width:80%;background:#000;border-radius:10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px; margin:0px auto 10px auto; padding:15px 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px; opacity:0.5; position:relative;
 }
 
.login ul li{ margin-top:10px;border-bottom:1px solid rgba(255,255,255,0.6); padding-bottom:10px; position:relative;}
.login ul li span{ width:32%; float:right; display:block; position:relative;border:1px solid rgba(255,255,255,0.7); background-color:rgba(255,255,255,0); color:rgba(255,255,255,1.6); border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; font-size:1.2em; text-align:center; height:30px; line-height:30px;}


.post{width:80%;background:#e32f38;border-radius:10px;
-moz-border-radius: 10px; padding:8px 10px;
-ms-border-radius: 10px; margin:0px auto 5% auto; text-align:center; font-size:1.5em; line-height:1.5em;
-webkit-border-radius: 10px;
-o-border-radius: 10px;font-family:Microsoft YaHei; color:#fff; }


.pass{width:80%;border-radius:10px;background-color:rgba(0,0,0,0.4); 
-moz-border-radius: 10px;
-ms-border-radius: 10px; margin:0px auto 10px auto; padding:15px 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px; position:relative;
 }
.pass h1{ font-size:1.4em; color:#fff; margin-bottom:7px; text-align:center;}
.pass ul li{ font-size:1.2em; color:#fff; padding:8px 0;}
.pass ul li em{ display:block; margin-right:3px; float:left; padding-top:2px;}

.pass h2{ font-size:1.5em; color:#fff; margin-bottom:10px; text-align:center;}
.pass dd{float:left; width:50%; text-align: center; position:relative;}
.pass dd span{ display:block; position:relative;padding:5px 0;}
.pass dd span img{ width:50%; text-align:center;position:relative;}
.pass dd em{ display:block; color:#fff; font-size:1.3em; margin-top:5px;}

.vipbox{ width:90%; margin:0 auto;}

.vipbut{width:100%; margin:0 auto;}
.vipbut img{width:100%; position:relative;}

.loginA{background:#000;border-radius:10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px; margin:0px auto 10px auto; padding:15px 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px; opacity:0.5; position:relative;
 }
 
.loginA ul li{ margin-top:10px;border-bottom:1px solid rgba(255,255,255,0.6); padding-bottom:10px; position:relative;}
.loginA ul li span{ width:32%; float:right; display:block; position:relative;border:1px solid rgba(255,255,255,0.7); background-color:rgba(255,255,255,0); color:rgba(255,255,255,1.6); border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; font-size:1.2em; text-align:center; height:30px; line-height:30px;}





a.pad{background:#fff;border-radius:15px;
-moz-border-radius: 15px; padding:2px 5px;
-ms-border-radius: 15px; margin:0px 5px; text-align:center; font-size:1.0em; line-height:1.0em;
-webkit-border-radius: 15px;
-o-border-radius: 15px;font-family:Microsoft YaHei; color:#333; }





input.txt{border:0px solid rgba(255,255,255,0.0); padding:0 6px; background-color:rgba(255,255,255,0); color:rgba(255,255,255,1);height:30px; font-size:1.5em; background:url(../images/icon_d.png) no-repeat 0 3px; background-size:25px; padding-left:30px;font-family:Microsoft YaHei; position:relative;}

input.code{border:0px solid rgba(255,255,255,0.0); padding:0 6px; background-color:rgba(255,255,255,0); color:rgba(255,255,255,1);height:30px; font-size:1.5em; background:url(../images/icon_e.png) no-repeat 0 3px; background-size:25px; padding-left:30px;font-family:Microsoft YaHei; position:relative;}



input.tel{width:100%; box-sizing:border-box;}
input.cod{width:51%;}
input.op{background-color:rgba(255,255,255,0.7); border-color:#13cefb;}
.last{border-bottom:none !important; padding-bottom:0 !important; }
.bot{position:relative; padding:20%; overflow:hidden}


/**/
.page{margin:0 auto 10px auto; width:95%; background:#f8f8f8;border-radius:5px;
-moz-border-radius: 5px; border:1px solid #c5c5c5;
-ms-border-radius: 5px;
-webkit-border-radius: 5px; text-align:center; height:30px; line-height:30px;
-o-border-radius: 5px;
}








/**/
.foot{width:100%; position:relative; text-align:center; font-family:Microsoft YaHei; font-size:1.2em; padding:0.7em 0; overflow:hidden; color:rgb(255,255,255); background:#63442b;}